<h1 class="primary-heading">Add a problem today that you need help solving.</h1>
<form class="problems-create-form">
  <fieldset class="problems-create-fieldset">
    <legend><b>Problem Information</b></legend>

    {{input class="problems-create-info" type="text" placeholder="Name of problem" value=model.name}}

    {{textarea class="problems-create-info" placeholder="Short description of the problem" value=model.description}}

    {{input class="problems-create-info" type="url" placeholder="Trello Project URL" value=model.trelloURL}}
  </fieldset>

  <fieldset class="problems-create-fieldset">
    <legend><b>Deadline for solving the problem</b></legend>
    {{pikaday-input class="problems-create-datepicker" placeholder="Enter date" type="date" value=model.deadline}}
  </fieldset>

  <fieldset class="problems-create-fieldset">
    <legend><b>Tags</b></legend>
    <input class="problems-create-tag" type="text" placeholder="Enter in a tag describing your problem" name="tag">
    <input class="problems-create-tag" type="text" placeholder="Enter in a tag describing your problem" name="tag">
    <input class="problems-create-tag" type="text" placeholder="Enter in a tag describing your problem" name="tag">
    <button class="problems-create-button-addtag"{{action 'addTagInput'}}>Add another tag</button>
  </fieldset>

  <fieldset class="problems-create-fieldset">
    <legend><b>Location</b></legend>
    <p class="problems-create-location-text">Use your current location or set a marker for another.</p>
    {{leaflet-problemscreate model=model}}
  </fieldset>



  <button class="problems-create-button-submit" {{action 'createProblem'}}>Submit the Problem!</button>
</form>

{{yield}}
