<h1 class="primary-heading">{{model.name}}</h1>
<section class="problem-info-container">
  <p class="problem-description"><b>Description:</b> {{model.description}}</p>
  <p class="problem-created"><b>Created:</b> {{momentDate model.createdAt}}</p>
  <p class="problem-deadline"><b>Deadline:</b> {{momentDate model.deadline}}</p>
  <ul class="problem-tags-list">
    <li class="problem-tag"><b>Tags:</b></li>
    {{#each model.tags key="@index" as |tag|}}
      <li class="problem-tag">{{tag}}</li>
    {{/each}}
  </ul>
  <p class="problem-progress-text"><b>Progress:</b> {{model.progress}}%
    <progress class="problem-progress-bar" value="{{model.progress}}" max="100"></progress>
  </p>

  <p class="trello-update"><b>Trello API Data:</b></p>
  <p class="problem-collaborations"><b>We collaborate via Trello:</b> <a href="{{model.trelloURL}}">{{model.name}} Trello Board</a></p>
</section>
<section class="problem-location-container">
  <h3 class="secondary-heading">Location: {{model.location}}</h3>
  {{leaflet-problemsshow model=model}}
</section>
<section class="problem-users-container">
  <h3 class="problem-members">Current Team Members:</h3>

  <ul class="problem-members-list">
    <li class="problem-members-list-item">{{#link-to 'users.show' model.owner.id}}{{gravatar-small email=model.owner.email size="40"}}{{model.owner.name}} (Owner){{/link-to}}</li>

    {{#each model.members as |member|}}
      <li class="problem-members-list-item">{{#link-to 'users.show' member.id}}{{gravatar-small email=member.email size="40"}}{{member.name}}{{/link-to}}</li>
    {{/each}}
  </ul>

  {{#unless isOwner}}
    <button class="problem-volunteer" {{action 'addUser' model}}>Volunteer - Join This Team</button>
    <p class="problem-email-label">Don't want to join but still want to provide input? Send the owner your comments and suggestions.</p>
    {{textarea class="problem-email" value=comment placeholder="Enter your comment or message here."}}
    <button {{action 'sendOwnerEmail' comment}}>Send crowdsourced input</button>
  {{/unless}}
</section>
<section class="problem-options-container">
  {{#if model.isComplete}}
    {{#if isMember}}
      <h3>If you were on this team: </h3>
      {{#link-to 'problems.review' model}}
      <button class="problem-button-review">Review Teammates</button>
      {{/link-to}}
    {{/if}}
  {{/if}}
  {{#if isOwner}}
  <h3>Team Owner:</h3>
    {{#link-to 'problems.manage' model}}
    <button class="problem-button-manage">Manage Team</button>
    {{/link-to}}
  {{/if}}
</section>


{{yield}}
