<h1 class="header problems-create-header">Add a Problem You Need Help Solving</h1>
<form {{action 'createProblem' on='submit'}}>
  <label>
    Problem Name:
    {{input class="problems-create-name" type="text" placeholder="Name of problem" value=model.name}}
  </label>
  <label>
    Description:
    {{textarea class="problems-create-description" placeholder="Short description of the problem" value=model.description}}
  </label>
  <label>
    Deadline for solving the problem (Choose date):
    {{pikaday-input value=model.deadline}}
  </label>
  <label>
    Tags:
    <input class="problems-create-tag" type="text" placeholder="Enter in a tag describing your problem" name="tag">
    <input class="problems-create-tag" type="text" placeholder="Enter in a tag describing your problem" name="tag">
    <input class="problems-create-tag" type="text" placeholder="Enter in a tag describing your problem" name="tag">
    <span><button class="button-tag-add"{{action 'addTagInput'}}>Add another tag</button></span>
  </label>
  <fieldset>
    <legend>Location</legend>
    <label>
      City:
      {{input class="problems-create-city" type="text" placeholder="Enter your city here" value=model.city}}
    </label>
    <label>
      State/Province:
      {{input class="problems-create-state" type="text" placeholder="Enter your state/province here" value=model.state}}
    </label>
    <label>
      Country:
      {{input class="problems-create-country" type="text" placeholder="Enter your country here" value=model.country}}
    </label>
    <span class="problems-create-button-location">Use Current Location</span>
  </fieldset>
  <label>Trello URL:
    {{input class="problems-create-URL" type="url" placeholder="Trello URL" value=model.trelloURL}}
  </label>
  <button class="button-submit">Submit Problem!</button>
</form>

{{yield}}
