<h1 class="primary-heading">{{model.name}}</h1>
<p class="problem-owner">Owner: {{model.owner.firstName}} {{model.owner.lastName}}</p>
<p class="problem-description">Description: {{model.description}}</p>
<p class="problem-created">Created: {{model.createdAt}}</p>
<p class="problem-deadline">Deadline: {{model.deadline}}</p>
<p class="problem-tags">Tags: {{#each model.tags as |tag|}}{{tag}} {{/each}}</p>
<p class="problem-progress">Progress: {{model.progress}}%</p>
<div class="trello-update">Trello API Data</div>
<span class="problem-collaborations">We collaborate via Trello at: </span>
<p class="problem-trelloURL">{{model.trelloURL}}</p>
<p class="problem-city">City: {{model.city}}</p>
<p class="problem-state">State/Province: {{model.state}}</p>
<p class="problem-country">Country: {{model.country}}</p>
<div class="problem-show-map">Map</div>
<p class="problem-members">Current Team Members: </p>

<ul class="problem-members-list">
{{#if model.member1}}
  <li class="problem-members-list-item">{{model.member1.firstName}} {{model.member1.lastName}} </li>
{{/if}}
{{#if model.member2}}
  <li class="problem-members-list-item">{{model.member2.firstName}} {{model.member2.lastName}} </li>
{{/if}}
{{#if model.member3}}
  <li class="problem-members-list-item">{{model.member3.firstName}} {{model.member3.lastName}} </li>
{{/if}}
{{#if model.member4}}
  <li class="problem-members-list-item">{{model.member4.firstName}} {{model.member4.lastName}} </li>
{{/if}}
{{#if model.member5}}
  <li class="problem-members-list-item">{{model.member5.firstName}} {{model.member5.lastName}} </li>
{{/if}}
</ul>

<button class="problem-volunteer" {{action 'addUser' model}}>Volunteer - Join This Team</button>
<input class="problem-email" placeholder="Email the owner w/o joining"><button>Send email</button>
{{#if model.isComplete}}
<p>Team Members:</p>
{{#link-to 'problems.review' model}}
<button class="problem-button-review">Review Teammates</button>
{{/link-to}}
{{/if}}
<p>Team Owner:</p>
{{#link-to 'problems.manage' model}}
<button class="problem-button-manage">Manage Team</button>
{{/link-to}}


{{yield}}
