<h1 class="primary-heading">Review Your Team's Performance</h1>
<h2 class="secondary-heading">{{model.name}}</h2>
<ul class="review-members-list">
  {{#unless isOwner}}
    {{teammate-review model=model.owner problem=model action="reviewTeammate"}}
  {{/unless}}
  {{#if model.member1}}
    {{teammate-review model=model.member1  problem=model action="reviewTeammate"}}
  {{/if}}
  {{#if model.member2}}
    {{teammate-review model=model.member2 problem=model action="reviewTeammate"}}
  {{/if}}
  {{#if model.member3}}
    {{teammate-review model=model.member3 problem=model action="reviewTeammate"}}
  {{/if}}
  {{#if model.member4}}
    {{teammate-review model=model.member4 problem=model action="reviewTeammate"}}
  {{/if}}
  {{#if model.member5}}
    {{teammate-review model=model.member5 problem=model action="reviewTeammate"}}
  {{/if}}
</ul>

{{yield}}
