<p class="review-member-name">{{model.name}}</p>
<p class="review-instructions">You have up to 100 skill points to divide between the three categories:</p>
<label class="review-input-label">
  Thinker:
  {{input class="review-input" type="number" value=thinkerReview}}
</label>
<label class="review-input-label">
  Enabler:
  {{input class="review-input" type="number" value=enablerReview}}
</label>
<label class="review-input-label">
  Connector:
  {{input class="review-input" type="number" value=connectorReview}}
</label>
<button class="review-button-submit" {{action 'reviewTeammate' model problem}}>Submit teammate review!</button>
{{yield}}
