<h1 class="header user-create-header">Sign up today to begin helping others.</h1>
<form class="users-create-form "{{action 'createUser' on='submit'}}>
  <fieldset class="users-create-fieldset">
    <legend>User Information</legend>

    {{input class="users-create-info"  type="text" placeholder="Full name" value=model.name}}

    {{input class="users-create-info" type="email" placeholder="Email address" value=model.username}}

    {{input class="users-create-info users-create-password" type="password" placeholder="Password" value=model.password}}
  </fieldset>

  <fieldset class="users-create-fieldset users-create-fieldset-optional">
    <legend>Optional Information</legend>

    {{input class="users-create-optional" type="text" placeholder="Occupation" value=model.occupation}}

    {{input class="users-create-info" type="text" placeholder="Age" value=model.age}}

    <legend>Interests</legend>
    <input class="users-create-optional" type="text" placeholder="Any personal interest of yours" name="interest">
    <input class="users-create-optional" type="text" placeholder="Any personal interest of yours" name="interest">
    <input class="users-create-optional" type="text" placeholder="Any personal interest of yours" name="interest">
    <button class="users-create-button-addinterest" {{action 'addInterestInput'}}>+ Add another interest</button>
  </fieldset>

  <fieldset class="users-create-fieldset">
    <legend>Location</legend>

    {{input class="users-create-location" type="text" placeholder="City" value=model.city}}

    {{input class="users-create-location" type="text" placeholder="State/Province" value=model.state}}

    {{input class="users-create-location" type="text" placeholder="Country" value=model.country}}

    <button class="users-create-button-location">Use Current Location</button>
  </fieldset>

  {{leaflet-map}}

  <button class="users-create-button-submit">You're finished filling out info.  Sign Up!</button>
</form>

{{yield}}
