<h1 class="primary-heading">Sign up today to begin helping others solve problems.</h1>
  <fieldset class="users-create-fieldset">
    <legend><b>Account Information</b></legend>

    {{input class="users-create-info"  type="text" placeholder="Full name" value=model.name required=true title='Please enter your full name above.'}}

    {{input class="users-create-info" type="email" placeholder="Email address" value=model.username required=true title='Please enter your email address above.'}}

    {{input class="users-create-info users-create-password" type="password" placeholder="Password" value=model.password required=true title='Please enter a password above.'}}
  </fieldset>

  <fieldset class="users-create-fieldset users-create-fieldset-optional">
    <legend><b>Optional Information</b></legend>

    {{input class="users-create-optional" type="text" placeholder="Occupation" value=model.occupation}}

    {{input class="users-create-info" type="text" placeholder="Age" value=model.age}}

    <legend><b>Interests</b></legend>
    <input class="users-create-optional" type="text" placeholder="Any personal interest of yours" name="interest" required=true title='Please enter an interest.'>
    <input class="users-create-optional" type="text" placeholder="Any personal interest of yours" name="interest" required=true title='Please enter an interest.'>
    <input class="users-create-optional" type="text" placeholder="Any personal interest of yours" name="interest" required=true title='Please enter an interest.'>
    <button class="users-create-button-addinterest" {{action 'addInterestInput'}}>+ Add another interest</button>
  </fieldset>

  <fieldset class="users-create-fieldset">
    <legend><b>Location</b></legend>
    <p class="users-create-location-text">Use this location or search the map to set another.</p>
    {{leaflet-userscreate model=model}}
  </fieldset>

  <button class="users-create-button-submit" {{action 'createUser'}}>Sign Up!</button>

{{yield}}
