<h1 class="primary-heading">{{model.name}}</h1>
{{gravatar-image email=model.email size="100"}}

<section class="user-info-container">
  <h3 class="users-show-section-heading">About</h3>
  <ul class="user-info-list">
    {{#if model.age}}
    <li class="user-info-item"><span class="list-item-title">Age:</span> {{model.age}}</li>
    {{/if}}
    <li class="user-info-item"><span class="list-item-title">Location:</span> {{model.location}}</li>
    {{#if model.occupation}}
    <li class="user-info-item"><span class="list-item-title">Occupation:</span> {{model.occupation}}</li>
    {{/if}}
    <ul class="user-info-item">
      <li class="user-interest"><span class="list-item-title">Interests:</span></li>
      {{#each model.interests key="@index" as |interest|}}
        <li class="user-interest">{{interest}}</li>
      {{/each}}
    </ul>
  </ul>
  {{#unless isUser}}
    {{textarea class="user-email-textarea" value=comment placeholder="Enter your email message here."}}
    <button class="user-info-button-email" {{action 'sendUserEmail' comment}}>Email user</button>
  {{/unless}}
</section>
<section class="user-skillchart-container">
  <h3 class="user-skillchart-heading">Skills Chart</h3>
  {{skills-chart user=model}}
  <canvas id="skillsChart" class="user-chart" width="389" height="389"></canvas>
</section>
<section class="user-skillpoints-container">
  <h3 class="user-skillpoints-heading">Earned Team Points</h3>
  <ul class="user-skills-list">
    <li class="user-skill"><span class="list-item-title">Thinking:</span> {{model.thinking}}</li>
    <li class="user-skill"><span class="list-item-title">Action:</span> {{model.action}}</li>
    <li class="user-skill"><span class="list-item-title">Social:</span> {{model.social}}</li>
    <li class="user-skill"><span class="list-item-title"><b>Total:</b></span> {{model.totalPoints}}</li>
  </ul>
</section>
<section class="user-contributions-container">
  <h3 class="users-show-section-heading">Contributions:</h3>
  <ul class="user-contributions-list">
  {{#each model.contributions as |contribution|}}
    <li class="user-contribution">
      <span class="list-item-title">
      {{#link-to 'problems.show' contribution.id}}
        {{contribution.name}}
      {{/link-to}}
      </span>
    </li>
  {{/each}}
  <h3 class="users-show-section-heading">Feedback From Others:</h3>
  <ul>
  {{#each model.comments as |comment|}}
    <li class="user-comment">
      <span>
      <p>"{{comment.text}}" - {{#link-to 'users.show' comment.reviewer.id}}{{comment.reviewer.name}}{{/link-to}} referring to {{#link-to 'problems.show' comment.problem.id}}{{comment.problem.name}}{{/link-to}}</p>
      </span>
    </li>
  {{/each}}
  </ul>
  </ul>
  <div class="user-contributions-map">
    {{leaflet-usersshow model=model contributions=model.contributions}}
  </div>
</section>
















{{yield}}
