<h1 class="primary-heading">{{model.name}}</h1>
{{gravatar-image email=model.email size="100"}}

<section class="user-info-container">
  <h2 class="users-show-section-heading">About</h2>
  <ul class="user-info-list">
    <li class="user-info-item"><span class="list-item-title">Age:</span> {{model.age}}</li>
    <li class="user-info-item"><span class="list-item-title">Location:</span> {{model.location}}</li>
    <li class="user-info-item"><span class="list-item-title">Occupation:</span> {{model.occupation}}</li>
    <ul class="user-info-item">
      <li class="user-interest"><span class="list-item-title">Interests:</span></li>
      {{#each model.interests as |interest|}}
        <li class="user-interest">{{interest}}</li>
      {{/each}}
    </ul>
  </ul>
  <button class="user-info-button-email">Email user</button>
</section>
<section class="user-skillchart-container">
  <h2 class="user-skillchart-heading">Skills Chart</h2>
  {{skills-chart user=model}}
  <canvas id="skillsChart" width="400" height="400"></canvas>
  {{!-- <img class="user-chart" src="assets/skills-chart-example.gif"> --}}
</section>
<section class="user-skillpoints-container">
  <h2 class="user-skillchart-heading">Earned Skill Points</h2>
  <ul class="user-skills-list">
    <li class="user-skill"><span class="list-item-title">Thinker:</span> {{model.thinker}}</li>
    <li class="user-skill"><span class="list-item-title">Enabler:</span> {{model.enabler}}</li>
    <li class="user-skill"><span class="list-item-title">Connector:</span> {{model.connector}}</li>
  </ul>
</section>
<section class="user-contributions-container">
  <h2 class="users-show-section-heading">Contributions:</h2>
  <ul class="user-contributions-list">
  {{#each model.contributions as |contribution|}}
    <li class="user-contribution"><span class="list-item-title">{{contribution}}:</span> It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here</li>
  {{/each}}
  </ul>
  <div class="user-contributions-map">
    {{leaflet-usersshow model=model}}
  </div>
</section>
















{{yield}}
