{{#each model as |user|}}
  <li class="users-list-item">
    {{#link-to 'users.show' user}}{{gravatar-small email=user.email size="40"}}{{user.name}}{{/link-to}}
    <span>Location: {{user.city}}, {{user.country}}</span>
    <div>
      <span class="search-descriptor">Occupation: {{user.occupation}}</span>
      <span class="search-descriptor">Thinker Score: {{user.thinker}}</span>
      <span class="search-descriptor">Enabler Score: {{user.enabler}}</span>
      <span class="search-descriptor">Connector Score: {{user.connector}}</span>
    </div>
  </li>
{{/each}}
{{yield}}
