<h1 class="header user-create-header">Sign up today to begin helping others.</h1>
<form class="user-create-form "{{action 'createUser' on='submit'}}>
  <label>
    Full Name:
    {{input class="users-create-name" type="text" placeholder="Full name" value=model.fullName}}
  </label>
  <label>
    Age:
    {{input class="users-create-age" type="text" placeholder="Age" value=model.age}}
  </label>
  <fieldset>
    <legend>Location</legend>
    <label>
      City:
      {{input class="users-create-city" type="text" placeholder="Enter your city here" value=model.city}}
    </label>
    <label>
      State/Province:
      {{input class="users-create-state" type="text" placeholder="Enter your state/province here" value=model.state}}
    </label>
    <label>
      Country:
      {{input class="users-create-country" type="text" placeholder="Enter your country here" value=model.country}}
    </label>
    <span class="users-create-button-location">Use Current Location</span>
  </fieldset>
  {{leaflet-map}}
  <label>
    Occupation:
    {{input class="users-create-occupation" type="text" placeholder="Enter your occupation here" value=model.occupation}}
  </label>
  <label>
    Interests:
    <input class="users-create-interest" type="text" placeholder="Enter a personal interest here" name="interest">
    <input class="users-create-interest" type="text" placeholder="Enter a personal interest here" name="interest">
    <input class="users-create-interest" type="text" placeholder="Enter a personal interest here" name="interest">
    <span><button class="button-interest-add" {{action 'addInterestInput'}}>Add another interest</button></span>
  </label>
  <label>
    Email:
    {{input class="users-create-email" type="email" placeholder="Enter your email address here" value=model.username}}
  </label>
  <label>
    Password:
    {{input class="users-create-password" type="password" placeholder="Enter your password" value=model.password}}
  </label>
  <button class="button-user-submit">Sign Up!</button>
</form>

{{yield}}
