<h1 class="primary-heading">{{model.name}}: User Profile</h1>
<div class="users-show-chart">Skill Chart</div>
<p class="user-points">Earned Points:</p>
<p class="user-thinker">Thinker: {{model.thinker}}</p>
<p class="user-enabler">Enabler: {{model.enabler}}</p>
<p class="user-connector">Connector: {{model.connector}}</p>
<p class="user-contributions">Contributions: {{#each model.contributions as |contribution|}}+{{contribution}} {{/each}}</p>
<div class="users-show-map">Map</div>
<p class="user-gravatar">Gravatar: Need gravatar - see AJAX example</p>
<p class="user-age">Age: {{model.age}}</p>
<p class="user-location">Location: {{model.city}}, {{model.state}}, {{model.country}}</p>
<p class="user-occupation">Occupation: {{model.occupation}}</p>
{{!-- add sub-component to iterate --}}
<p class="user-interests">Interests: {{#each model.interests as |interest|}}+{{interest}} {{/each}}</p>
<button class="user-button-email">Email user</button>














{{yield}}
