<h1>Hello there {{model.firstName}}</h1>
<h1>Hello there {{model.lastName}}</h1>
<h1>Hello there {{model.email}}</h1>
<h1>Hello there {{model.age}}</h1>
<h1>Hello there {{model.city}}</h1>
<h1>Hello there {{model.state}}</h1>
<h1>Hello there {{model.country}}</h1>
<h1>Hello there {{model.connector}}</h1>
<h1>Interests {{model.interests}}</h1>
<h1>Hello there {{model.firstName}}</h1>

{{outlet}}
