<nav class="primary-nav">
  {{#if session.isAuthenticated}}
    <span class="nav-buttons-container">
      {{#link-to 'index'}}
        <button class="nav-button-home">Home</button>
      {{/link-to}}
      {{#link-to 'users.show' session.currentUser}}
        <button class="nav-button-profile">{{session.currentUser.name}}'s Profile</button>
      {{/link-to}}
    </span>
    <span class="nav-container-logoout">
      <button class="nav-button-logout" {{action 'invalidateSession'}}>Logout</button>
    </span>
  {{else}}
    {{sessions-create}}
  {{/if}}
</nav>
<div class="outer-container">
{{outlet}}
</div>
