<header class="header index-hero-header">
  <h1 class="index-primary-heading"><img class='header-logo' src='assets/images/connection27.svg'>Cross-Pollinate</h1>
  <h4 class="index-secondary-heading">Spark new ideas.  Solve problems submitted by people around the world.  Be a participant in the lives of others. Seek input from other volunteers.</h4>
</header>
<section class="problems-outer-container">
  {{!-- {{planetary-globe}} --}}
  <div class="leaflet-index-container">
  {{leaflet-index problems=model}}
  {{#link-to 'problems.create'}}
    <button class="header-button-add">Add a Problem You Need Help With Solving!</button>
  {{/link-to}}
 </div>
  <div class="problems-index-container">
    <h3 class="secondary-heading">These places around the globe currently need help solving local problems:</h3>
    {{problems-index model=model}}
    {{search-form action="transitionSearch"}}
  </div>
</section>

{{outlet}}
