<header class="header index-hero-header">
  <div class="transparent-color-layer">
    <h1 class="index-primary-heading">Team Builder</h1>
    <h4 class="index-secondary-heading">Explore real-world problems submitted by people around the globe and volunteer to join a team to help solve them.</h4>
  </div>
</header>
<section class="problems-outer-container">
  {{!-- {{planetary-globe}} --}}
  <div class="leaflet-index-container">
  {{leaflet-index problems=model}}
  {{#link-to 'problems.create'}}
    <button class="header-button-add">Add a Problem You Need Help With Solving!</button>
  {{/link-to}}
 </div>
  <div class="problems-index-container">
    <h3 class="secondary-heading">These places around the globe currently need help solving local problems:</h3>
    {{problems-index model=model}}
    {{search-form action="transitionSearch"}}
  </div>
</section>

{{outlet}}
