<header class="header index-hero-header">
  <img class="header-logo" src='assets/images/connection27.svg'>
  <div class="index-headings-container">
    <h1 class="index-primary-heading">Cross-Pollinate</h1>
    <h3 class="index-secondary-heading">Help solve problems submitted by people around the world. <br>Be a participant in the lives of others.<br>Seek input from other volunteers.<br>Spark new ideas.</h3>
  </div>
</header>
{{search-form action="transitionSearch"}}
<section class="problems-outer-container">
  {{!-- {{planetary-globe}} --}}
  <div class="leaflet-index-container">
  <h4 class="problems-heading">These places around the globe currently need help solving local problems:</h4>
  {{leaflet-index problems=model}}
  {{#link-to 'problems.create'}}
    <button class="header-button-add">Add a Problem You Need Help With Solving!</button>
  {{/link-to}}
 </div>
  <div class="problems-index-container">
    {{problems-index model=model}}
  </div>
</section>
{{outlet}}
